<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
    <link rel="icon" href="/logo/delta.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="CIS 197 Final Project"
    />
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>TravelBook | CIS 197</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"">
          <b>TravelBook</b>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/trip/random">
            Random
          </a>
          <a class="navbar-item">
            Create
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item">
            <!-- display user name if logged in -->
            <% if (user && (user.length > 0)) { %>
              <%= user[0] %>
            <% } else { %>
              My Account
            <% } %>
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <!-- display sign up / log in unless we already have a user -->
              <% if (user && (user.length > 0)) { %>
                <a class="button is-inverted" href="/account/logout">
                  Log out
                </a>
              <% } else { %>
                <a class="button is-light" href="/signup">
                  Sign up
                </a>
                <a class="button is-inverted" href="/login">
                  Log in
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- main website content -->
    <main>
      <!-- hero banner -->
      <section class="banner">
        <div class="hero is-bold is-medium">
          <div class="hero-body justify-content-center">
            <div class="container">
              <h1 class="title">
                TravelBook
              </h1>
              <h3 class="subtitle">
                Social method of finding your next vacation
              </h3>
            </div>
          </div>
        </div>
      </section>
      <!-- discover currently -->
      <section class="discover">
        <% if (message && (message.length > 0)) { %>
          <div class="notification is-danger">
            <%=message%>
          </div>
        <% } else if (validate && (validate.length > 0)) { %>
          <div class="notification is-success">
            <%=validate%>
          </div>
        <% } %>
        <div class="columns-header">
          <h2>DISCOVER</h2>
          <p>four locations from around the world</p>
        </div>
        <div class="columns">
          <!-- trip 1 -->
          <div class="column discover-entry">
            <% if (data && data[0].location) { %>
              <a href="<%='trip/get/' + data[0].tripID%>">
                <div class="discover-image is-16by9" style="background: url(<%=data[0].img%>);">
                  <div class="discover-caption">
                    <h4><%=data[0].location%></h4>
                  </div>
                </div>
              </a>
            <% } else { %>
              <!-- blank filler -->
              <div class="discover-image empty">
                <div class="discover-caption">
                  <h4>none</h4>
                </div>
              </div>
            <% } %>
          </div>
          <!-- trip 2 -->
          <div class="column discover-entry">
            <% if (data && data[1].location) { %>
              <a href="<%='trip/get/' + data[1].tripID%>">
                <div class="discover-image" style="background: url(<%=data[1].img%>);">
                  <div class="discover-caption">
                    <h4><%=data[1].location%></h4>
                  </div>
                </div>
              </a>
            <% } else { %>
              <!-- blank filler -->
              <div class="discover-image empty"></i>
                <div class="discover-caption">
                  <h4>none</h4>
                </div>
              </div>
            <% } %>
          </div>
          <!-- trip 3 -->
          <div class="column discover-entry">
            <% if (data && data[2].location) { %>
              <a href="<%='trip/get/' + data[2].tripID%>">
                <div class="discover-image" style="background: url(<%=data[2].img%>);">
                  <div class="discover-caption">
                    <h4><%=data[2].location%></h4>
                  </div>
                </div>
              </a>
            <% } else { %>
              <!-- blank filler -->
              <div class="discover-image empty"></i>
                <div class="discover-caption">
                  <h4>none</h4>
                </div>
              </div>
            <% } %>
          </div>
          <!-- trip 4 -->
          <div class="column discover-entry">
            <% if (data && data[3].location) { %>
              <a href="<%='trip/get/' + data[3].tripID%>">
                <div class="discover-image" style="background: url(<%=data[3].img%>);">
                  <div class="discover-caption">
                    <h4><%=data[3].location%></h4>
                  </div>
                </div>
              </a>
            <% } else { %>
              <!-- blank filler -->
              <div class="discover-image empty"></i>
                <div class="discover-caption">
                  <h4>none</h4>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </section>
      <!--  new section -->
      <section>

      </section>
    </main>
    <footer class="footer">
      <div class="content columns">
        <div class="column">
          <p class="text-left">
            Andrew Cui | CIS 197
          </p>
        </div>
        <div class="column">
          <p class="bulmaCredit">
            Thank you to the <strong>Bulma</strong> CSS package by <a href="https://jgthms.com">Jeremy Thomas</a>, source code licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
          </p>
        </div>
      </div>
    </footer>
    <script src="/bundle.js"></script>
  </body>
</html>