<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
    <link rel="icon" href="/logo/delta.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="CIS 197 Final Project"
    />
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>TravelBook | CIS 197</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"">
          <b>TravelBook</b>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/trip/random">
            Random
          </a>
          <a class="navbar-item">
            Create
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item">
            <!-- display user name if logged in -->
            <% if (user && (user.length > 0)) { %>
              <%= user[0] %>
            <% } else { %>
              My Account
            <% } %>
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <!-- display sign up / log in unless we already have a user -->
              <% if (user && (user.length > 0)) { %>
                <a class="button is-inverted" href="/account/logout">
                  Log out
                </a>
              <% } else { %>
                <a class="button is-light" href="/signup">
                  Sign up
                </a>
                <a class="button is-inverted" href="/login">
                  Log in
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- main website content -->
    <main>
      <!-- hero banner -->
      <section class="banner" style="background: url(<%=data[0].img%>); background-size: cover; background-position: 50% 50%;">
        <div class="hero is-bold is-medium">
          <div class="hero-body justify-content-center">
            <div class="container">
              <h1 class="title">
                <% if (data && data[0].location) { %>
                  <%=data[0].location.toUpperCase()%>
                <%}%>
              </h1>
              <h3 class="subtitle"  style="margin-bottom: 3rem">
                <% if (data && data[0].keywords) { %>
                  <div class="tags">
                  <% data[0].keywords.forEach((k) => { %>
                    <span class="keyword tag is-link is-medium is-light is-font-3"><%=k%></span>
                  <% })%>
                  </div>
                <%}%>
              </h3>
              <!-- location rating -->
              <div class="rating-wrapper">
                <% if (data) { %>
                  <h4 style="margin-bottom: .25rem; margin-top: .25rem;">Rating (avg: <%=((data[0].ratings.reduce((x, y) => x + y, 0))/Math.max(1, data[0].ratings.length)).toFixed(2)%> ⭐)</h4>
                <% } %>
                <form action="<%='/trip/average/'+data[0].tripID+'/'%>" method="post" onSubmit="">
                  <div class="rating-control columns">
                    <% for (var i = 1; i < 6; i++) { %>
                    <div class="column">
                      <label class="radio">
                        <input type="radio" name="rating" value="<%=i%>">
                      </label>
                      <br>
                      <%=i%>
                    </div>
                  <% } %>
                  </div>
                  <div class="rating-control columns">
                    <div class="field is-grouped submit-rating">
                      <div class="control">
                        <button class="button is-link">Send</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--  new section: how to add data -->
      <% if (message && (message.length > 0)) { %>
        <section class="discover">
          <div class="notification is-danger" style="margin: auto 3.6rem;">
            <%=message%>
          </div>
        </section>
      <% } else if (validate && (validate.length > 0)) { %>
        <section class="discover">
          <div class="notification is-success" style="margin: auto 3.6rem;">
            <%=validate%>
          </div>
        </section>
      <% } %>

      <section class="place-info">
        <h3 class="subtitle">PLACES TO SEE</h3>
        <form action="<%='/trip/update/'+data[0].tripID+'/'+user%>" method="post" onSubmit="">
          <table class="places">
            <tr class="table-header">
              <td class="table-title">Name</td>
              <td class="table-title">Category</td>
              <td class="table-title">Price</td>
              <td class="table-title">Interested</td>
              <td class="table-title">Visited</td>
            </tr>
            <% if (data) { %>
              <% for (var i = 0; i < data[0].places.length; i++) { %>
              <% var val = data[0].places[i]; %>
              <tr>
                <td class="table-entry"><%=val.name%></td>
                <td class="table-entry"><%=val.category%></td>
                <td class="table-entry"><%=val.price%></td>
                <td class="table-entry"><%=val.interested.length%>&nbsp;&nbsp;&nbsp;
                  <label class="checkbox">
                    <input type="hidden" name="<%='interested[' + i + ']'%>" value="_">
                    <input type="checkbox" name="<%='interested[' + i + ']'%>">
                  </label>
                </td>
                <td class="table-entry"><%=val.visited.length%>&nbsp;&nbsp;&nbsp;
                  <label class="checkbox">
                    <input type="hidden" name="<%='visited[' + i + ']'%>" value="_">
                    <input type="checkbox" name="<%='visited[' + i + ']'%>">
                  </label>
                </td>
              </tr>
           <% }} %>
          </table>
          <div class="field is-grouped">
            <div class="control" style="margin: 0 auto; margin-bottom: 1.5rem;">
              <button class="button is-link">Update preferences</button>
            </div>
          </div>
        </form>
        <br>
        <form action="<%='/trip/addPlace/'+data[0].tripID+'/'%>" method="post" onSubmit="">
          <table class="places">
              <tr>
                <td class="table-entry"><input class="input" type="text" placeholder="Name" name="name"></td>
                <td class="table-entry">
                  <!-- <input class="input" type="text" placeholder="Category" name="category"> -->
                  <div class="select">
                    <select name="category">
                      <option>sports</option>
                      <option>food/drink</option>
                      <option>museum</option>
                      <option>entertainment</option>
                      <option>nature</option>
                      <option>landmark</option>
                    </select>
                  </div>
                </td>
                <td class="table-entry">
                  <!-- <input class="input" type="text" placeholder="Price" name="price"> -->
                  <div class="select">
                    <select name="price">
                      <option>$</option>
                      <option>$$</option>
                      <option>$$$</option>
                      <option>$$$$</option>
                    </select>
                  </div>
                </td>
                <td class="table-entry">
                  <label class="checkbox">
                    <input type="checkbox" name="interested">
                  </label>
                </td>
                <td class="table-entry">
                  <label class="checkbox">
                    <input type="checkbox" name="visited">
                  </label>
                </td>
              </tr>
          </table>
          <div class="field is-grouped">
            <div class="control" style="margin: 0 auto; margin-bottom: 2.5rem;">
              <button class="button is-link">Add</button>
            </div>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer">
      <div class="content columns">
        <div class="column">
          <p class="text-left">
            Andrew Cui | CIS 197
          </p>
        </div>
        <div class="column">
          <p class="bulmaCredit">
            Thank you to the <strong>Bulma</strong> CSS package by <a href="https://jgthms.com">Jeremy Thomas</a>, source code licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
          </p>
        </div>
      </div>
    </footer>
    <script src="/bundle.js"></script>
  </body>
</html>